<div class="container border mt-5 p-3">
<h1>New Article</h1>
<%= form_with model: @article, class: "form-group" do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :content %>
  <%= f.rich_text_area :content, class: "form-control" %>
  <%= f.submit class: "btn btn-primary mt-4" %>
<% end %>
</div>
